<div>
	<%= image_tag("https://image.tmdb.org/t/p/w200#{@person_info['profile_path']}", :alt => 'profile') %>
	<h2><strong>PROFILE</h2>
	<p><strong>BIRTHDAY</p>
	<p><%= @person_info['birthday'] %></p>
	<% if @person_info['deathday'] != nil %>
		<p><strong>DEATHDAY</p>
		<p><%= @person_info['deathday'] %></p>
	<% end %>
	<p><strong>PLACE OF BIRTH</p>
	<p><%= @person_info['place_of_birth'] %></p>
</div>
<div>
	<h1><strong><%= @person_info['name'] %></h1>

	<p><strong>BIOGRAPHY</p>
	<p></p>

	<p><strong>FILMOGRAPHY</p>
</div>