<div>
	<%= image_tag("https://image.tmdb.org/t/p/w200#{@person_info['profile_path']}", :alt => 'profile') %>
	<h2><strong>PROFILE</h2>
	<p><strong>BIRTHDAY</p>
	<p><%= @person_info['birthday'] %></p>
	<% if @person_info['deathday'].present? %>
		<p><strong>DEATHDAY</p>
		<p><%= @person_info['deathday'] %></p>
	<% end %>
	<p><strong>PLACE OF BIRTH</p>
	<p><%= @person_info['place_of_birth'] %></p>
</div>
<div>
	<h1><strong><%= @person_info['name'] %></h1>

	<p><strong>BIOGRAPHY</strong></p>
	<p><%= @person_info["biography"] %></p>

	<p><strong>FILMOGRAPHY</strong></p>
	<% if @directings.present? %>
		<p>Directing</p>
	    <% @directings.each do |directing| %>
	        <span><%= link_to directing['title'], movie_path(directing['id']) %></span>
	    <% end %>
	<% end %>
    <% if @writings.present? %>
    	<p>Writing</p>
		<% @writings.each do |writing| %>
		    <span><%= link_to writing['title'], movie_path(writing['id']) %></span>
		<% end %>
	<% end %>
     <% if @person_works['cast'].present? %>
     	<p>Acting</p>
		<% @person_works['cast'].each do |acting| %>
	        <span><%= link_to acting['title'], movie_path(acting['id']) %></span>
	    <% end %>
	<% end %>
</div>
