<%= form_with model: @watched, local: true, url:movie_watcheds_path(params[:movie_id], method: :patch) do |f| %>
    <p><%= f.radio_button :rate, :ATB %>ATB</p>
    <p><%= f.radio_button :rate, :LOVE %>LOVE</p>
    <p><%= f.radio_button :rate, :LIKE %>LIKE</p>
    <p><%= f.radio_button :rate, :OK %>OK</p>
    <p><%= f.radio_button :rate, :HATE %>HATE</p>

    <p><%= f.text_field :review, autofocus: true, autocomplete: "review" %></p>

    <div>
        <%= f.submit "UPDATE!" %>
    </div>

    <%= link_to  "DELETE!", movie_watcheds_path(params[:movie_id]), method: :delete, data: {confirm: 'Are you sure?'}%>
<% end %>
