<%= form_with model: @watched, local: true, url:movie_watcheds_path(params[:movie_id], method: :post) do |f| %>
    <p><%= f.radio_button :rate, :ATB %>ATB</p>
    <p><%= f.radio_button :rate, :LOVE %>LOVE</p>
    <p><%= f.radio_button :rate, :LIKE %>LIKE</p>
    <p><%= f.radio_button :rate, :OK %>OK</p>
    <p><%= f.radio_button :rate, :HATE %>HATE</p>

    <p><%= f.text_field :review %></p>

    <div>
        <%= f.submit "WATCHED!" %>
    </div>
<% end %>
