<div class="container">
    <div>
        <p><strong>NAME</strong></p>
        <p><%= @user.name %></p>
    </div>
    <div>
        <p><strong>E-MAIL</strong></p>
        <p><%= @user.email %></p>
    </div>
    <% if @user.id = current_user.id %>
        <div>
            <%= link_to "EDIT INFOMATION", edit_user_path(current_user.id) %><br>
            <%= link_to 'CLOSE ACCOUNT?', user_path(current_user.id), method: :delete, data: { confirm: 'Are you sure?' }%>
        </div>
    <% end %>
    <div>
        <div>
            <p class="h2">WATCHED</p>
            <% @watched_movie_ids.each do |id| %>
                <div class="inline">
                    <% movie_info = Movie.details(id) %>
                    <%= link_to image_tag("https://image.tmdb.org/t/p/w200#{movie_info["poster_path"]}", alt: "poster", class: "img-responsive"), movie_path(id) %>
                    <p class="center"><%= link_to movie_info["title"], movie_path(id) %></p>
                    <p><%= @watcheds.find_by(tmdb_movie_id: id).review %></p>
                    <p class="btn-lg btn-warning"><%= @watcheds.find_by(tmdb_movie_id: id).rate %></p>
                    
                </div>
            <% end %>
        </div>
        <div>
            <p class="h2">CHECK</p>
            <% @check_movie_ids.each do |id| %>
                <div class="inline">
                    <% movie_info = Movie.details(id) %>
                    <%= link_to image_tag("https://image.tmdb.org/t/p/w200#{movie_info["poster_path"]}", alt: "poster"), movie_path(id) %>
                    <p class="center"><%= link_to movie_info["title"], movie_path(id) %></p>
                    <div>
                        <% if @checks.find_by(tmdb_movie_id: id).prepare.blank?  %>
                            <p class="btn-lg btn-warning">CHECK!</p>
                        <% else %>
                            <p class="btn-lg btn-danger">PREPARATION!</p>
                        <% end %>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</div>
