<!DOCTYPE html>
<html>
  <head>
    <title>Cinephilia</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta charset="utf-8">
  </head>

  <body>
    <header>
      <div class="container center-block">
        <% if user_signed_in? %>
          <%= link_to image_tag("logo.jpg", size: '150x150'), root_path, class: "h4 nav-menu" %>
          <%= link_to "ABOUT", homes_about_path, class: "h4 nav-menu" %>
          <%= link_to "MY PAGE", user_path(current_user.id), class: "h4 nav-menu" %>
          <%= link_to "LOG OUT", destroy_user_session_path, method: :delete, class: "h4 nav-menu" %>
        <% elsif admin_signed_in? %>
          <%= link_to image_tag("logo.jpg", size: '150x150'), root_path, class: "h4 nav-menu" %>
          <%= link_to "TOP", admins_root_path, class: "h4 nav-menu" %>
          <%= link_to "ABOUT", admins_homes_about_path, class: "h4 nav-menu" %>
          <%= link_to "USERS", admins_users_path, class: "h4 nav-menu" %>
          <%= link_to "LOG OUT", destroy_admin_session_path, method: :delete, class: "h4 nav-menu" %>
        <% else %>
          <%= link_to image_tag("logo.jpg", size: '150x150'), root_path, class: "h4 nav-menu" %>
          <%= link_to "TOP", root_path, class: "h4 nav-menu" %>
          <%= link_to "ABOUT", homes_about_path, class: "h4 nav-menu" %>
          <%= link_to "SIGN UP", new_user_registration_path, class: "h4 nav-menu" %>
          <%= link_to "LOG IN", new_user_session_path, class: "h4 nav-menu" %>
        <% end %>
        <%= form_tag(movies_search_path, method: :get, class: "h4") do %>
          <%= search_field_tag :looking_for, nil, placeholder: 'Movie titles…' %>
          <%= submit_tag 'SEARCH' %>
        <% end %>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
