<!DOCTYPE html>
<html>
  <head>
    <title>Cinephilia</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta charset="utf-8">
  </head>

  <body>
    <header>
      <% if user_signed_in? %>
        <%= link_to "TOP", root_path %>
        <%= link_to "ABOUT", homes_about_path %>
        <%= link_to "MY PAGE", user_path(current_user.id) %>
        <%= link_to "SIGN UP", new_user_registration_path %>
        <%= link_to "LOG IN", new_user_session_path %>
        <%= link_to "LOG OUT", destroy_user_session_path, method: :delete %>
        <%= current_user.name %>
      <% elsif admin_signed_in? %>
        <%= link_to "TOP", admins_root_path %>
        <%= link_to "ABOUT", admins_homes_about_path %>
        <%= link_to "USERS", admins_users_path %>
        <%= link_to "LOG OUT", destroy_admin_session_path, method: :delete %>
      <% else %>
        <%= link_to "TOP", root_path %>
        <%= link_to "ABOUT", homes_about_path %>
        <%= link_to "SIGN UP", new_user_registration_path %>
        <%= link_to "LOG IN", new_user_session_path %>
      <% end %>
    </header>
    <header>
      <div>
        <%= form_tag(movies_search_path, method: :get) do %>
          <%= search_field_tag :looking_for, nil, placeholder: 'Movie titles…' %>
          <%= submit_tag 'SEARCH' %>
        <% end %>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
